[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
qqwry-py3 = "*"
ronglian-sms-sdk = "*"

[dev-packages]

[requires]
python_version = "3.7"
